.item {
	display: grid;
	grid-template-columns: 2em 1fr;
	column-gap: 0.7em;
	align-items: start;
}

.symbol {
	display: inline-block;
	border-radius: 0.2em;
	padding: 0 0.2em;
	min-width: 1.5em;
	text-align: center;
	box-shadow: inset 0 0 100rem var(--color);
}

.symbol.is_group_single {
	--color: var(--group-color-single);
}
.symbol.is_group_1 {
	--color: var(--group-color-1);
}
.symbol.is_group_2 {
	--color: var(--group-color-2);
}
.symbol.is_group_3 {
	--color: var(--group-color-3);
}

.text {
}

.label {
}

.note {
	opacity: 0.8;
	font-size: 0.875em;
}
