.wrapper {
	page-break-inside: avoid;
}

/* @TODO: fix first keyboard top padding in print */

.wrapper:not(:last-child) {
	page-break-after: always;
}

@media not print {
	.wrapper {
		padding-block: 1em;
	}

	.wrapper + .wrapper {
		padding-top: 3em;
	}
}

.keyboard {
	--gap: 0.25em;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	margin: calc(-0.5 * var(--gap));
	font-size: min(1.5vw, 1em);
}

.key {
	position: relative;
	z-index: 0;
	grid-row: var(--row) / span var(--height);
	grid-column: var(--column) / span var(--width);
	border: 1px solid;
	border-radius: 0.25em;
	padding: 0.5em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0.5em;
	margin: calc(0.5 * var(--gap));
	line-height: 1;
	justify-items: center;
}

.key::before {
	content: '';
	position: absolute;
	z-index: -1;
	inset: 0;
	background-color: currentColor;
	opacity: 0.07;
}

.part.is_type_primary {
	grid-area: 1 / 1;
}

.part.is_type_secondary {
	grid-area: 1 / 2;
}

.part.is_type_tertiary {
	grid-area: 2 / 1;
}

.part.is_type_quaternary {
	grid-area: 2 / 2;
}

.key.is_special {
	/* justify-items: start; Set start only to first in a row */
	align-items: center;
}

.key.is_special .part.is_type_primary:last-child {
	grid-row-end: span 2;
	grid-column-end: span 2;
	font-size: 1.2em;
}

.part {
	position: relative;
	padding: 0.1em 0.2em;
	min-width: 1em;
	display: flex;
	justify-content: center;
	text-align: center;
}

.part::before {
	content: '';
	position: absolute;
	z-index: -1;
	inset: -6%;
	border-radius: 0.2em;
	box-shadow: inset 0 0 100rem var(--color);
}

.part.is_group_single {
	--color: var(--group-color-single);
}
.part.is_group_1 {
	--color: var(--group-color-1);
}
.part.is_group_2 {
	--color: var(--group-color-2);
}
.part.is_group_3 {
	--color: var(--group-color-3);
}

.hotkeys {
	margin-top: 1em;
}
