.wrapper {
	page-break-inside: avoid;
	padding-block: 1em;
}

.keyboard {
	--gap: 0.25em;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	margin: calc(-0.5 * var(--gap));
}

.key {
	position: relative;
	z-index: 0;
	grid-row: var(--row) / span var(--height);
	grid-column: var(--column) / span var(--width);
	border: 1px solid;
	border-radius: 0.25em;
	padding: 0.5em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0.5em;
	margin: calc(0.5 * var(--gap));
	line-height: 1;
	justify-items: center;
}

.key::before {
	content: '';
	position: absolute;
	z-index: -1;
	inset: 0;
	background-color: currentColor;
	opacity: 0.07;
}

.primary {
	grid-area: 1 / 1;
}

.secondary {
	grid-area: 1 / 2;
}

.tertiary {
	grid-area: 2 / 1;
}

.quaternary {
	grid-area: 2 / 2;
}

.key.is_special {
	justify-items: start;
	align-items: center;
}

.key.is_special .primary {
	grid-row-end: span 2;
	grid-column-end: span 2;
	font-size: 1.2em;
}
