:root {
	--group-color-single: #8bfc8b;
	--group-color-1: #ffe589;
	--group-color-2: #a0dcff;
	--group-color-3: #ffabff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--group-color-single: #2db12d;
		--group-color-1: #a38b1f;
		--group-color-2: #1d75a8;
		--group-color-3: #a531a5;
	}
}

body {
	padding-top: 2rem;
	padding-bottom: 3rem;
}

img {
	width: 100%;
	height: auto;
}

@media print {
	@page {
		size: landscape;
		margin: 0;
	}
	body {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
